.button {
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: $green-300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin: 0;
  cursor: pointer;
  display: block;
}

.button--program {
  padding: 10px 44px;

  @media (min-width: $medium) {
    width: 244px;
    padding: 17px 20px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.button--add {
  padding: 10px 20px;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 20px;
  }
}

.button--show-more {
  padding: 10px 20px;
  background-color: $grey-100;
  color: $grey-600;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 20px;
  }
}
