.button {
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: $green-300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin: 0;
  cursor: pointer;
}
