.card-adds__title {
  font-size: 16px;
  line-height: 16px;
  color: $grey-700;
  text-transform: uppercase;
  font-family: $oswald;
}

.card-adds__specs {
  font-size: 14px;
  line-height: 14px;
  color: $grey-600;
}
