.card-adds {
  padding: 12px 0 18px;

  @media (min-width: $medium) {
    padding: 26px 38px 27px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
  }

  @media (min-width: $large) {
    padding: 15px 0;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 84px;
  }
}

.card-adds__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $grey-700;
  text-transform: uppercase;
  font-family: $oswald;
  margin: 0 0 13px;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 24px;
    grid-column: span 2;
  }

  @media (min-width: $large) {
    grid-column: span 1;
    margin: 10px 0;
  }
}

.card-adds__specs {
  font-size: 14px;
  line-height: 14px;
  color: $grey-600;
  margin: 0 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 20px;
    grid-column: span 2;
    column-gap: 60px;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 70px;
    grid-column: span 1;
    margin: 0;
    padding-top: 10px;
    column-gap: 0;
  }
}

.card-adds__button {
  @media (min-width: $medium) {
    grid-column: 1 / -1;
  }

  @media (min-width: $large) {
    grid-column: span 1;
  }
}

.card-adds__specs-number {
  @media (min-width: $medium) {
    margin-right: -80px;
    margin-left: auto;
  }

  @media (min-width: $large) {
    margin: 0;
  }
}

.card-adds__specs-price {
  justify-self: end;

  @media (min-width: $large) {
    margin-right: -44px;
  }
}
