.catalog__title {
  padding: 8px 0 40px;
  margin: 0;

  @media (min-width: $medium) {
    padding: 65px 0 82px;
  }

  @media (min-width: $large) {
    padding: 74px 0 84px;
  }
}

.catalog__list {
  display: grid;
  margin: 0 -20px 0;

  @media (min-width: $medium) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: auto;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px 63px;
  }
}


.catalog__item {
  @media (min-width: $medium) {
    background-image: linear-gradient(to top, $grey-100 430px, $white 430px);
  }
}

@media (max-width: ($medium - 1px)) {
  .catalog__item:last-child {
    border-bottom: 1px solid $grey-200;
  }

  .catalog__item {
    border-top: 1px solid $grey-200;
  }
}
