.catalog-adds {
  position: relative;
}

.catalog-adds::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $green-300;
  top: 40px;
  left: 0;
  right: 0;
  z-index: -1;

  @media (min-width: $medium) {
    top: 90px;
  }

  @media (min-width: $large) {
    top: 100px;
  }
}

.catalog-adds__title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 25px 22px 36px;
  margin: 0 -22px;
  display: inline-block;
  background-color: $white;
  z-index: 0;

  @media (min-width: $medium) {
    font-size: 36px;
    line-height: 36px;
    padding: 68px 36px 80px 36px;
    margin: 0 -36px 0 36px;
  }

  @media (min-width: $large) {
    padding: 76px 35px 81px 40px;
    margin: 0 -35px 0 -40px;
  }
}

.catalog-adds__present-block {
  margin-bottom: 35px;

  @media (min-width: $medium) {
    margin-bottom: 72px;
  }

  @media (min-width: $large) {
    margin: 0;
  }
}

.catalog-adds__container {
  @media (min-width: $large) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 86px;
  }
}

.catalog-adds__list {
  margin-bottom: 35px;

  @media (min-width: $medium) {
    margin-bottom: 69px;
  }

  @media (min-width: $large) {
    grid-column: span 3;
    margin-bottom: 0;
  }
}
