.catalog-adds__title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 50px 0 36px;
  margin: 0;

  @media (min-width: $medium) {
      padding: 68px 0 80px;
    }

    @media (min-width: $large) {
      padding: 76px 0 81px;
    }
  }

.catalog-adds__present-block {
  background-image: url("../img/present-block.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $green-300;
}

.catalog-adds__container {
  @media (min-width: $large) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 86px;
    }
}

.catalog-adds__list {
  padding-bottom: 35px;

  @media (min-width: $medium) {
    padding-bottom: 69px;
  }

  @media (min-width: $large) {
      flex-grow: 1;
      padding-right: 79px;
      padding-bottom: 0;
    }
}
