.example {
  background-image: linear-gradient($grey-350, $grey-350);
  background-repeat: no-repeat;

  @media (min-width: $medium) {
    background-size: 100% 384px;
    background-position: bottom;
  }

  @media (min-width: $large) {
    background-size: 100% 462px;
    background-position: bottom;
  }
}

.example__wrapper {
  @media (min-width: $large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__intro {
  margin: 0 0 20px;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 51px;
  }

  @media (min-width: $large) {
    margin: 0 0 69px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-family: $oswald;
  font-weight: 400;
  margin: 5px 0 40px;

  @media (min-width: $medium) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 63px;
  }

  @media (min-width: $large) {
    margin: 0 0 151px;
  }
}

.example__param {
  font-family: $oswald;
  margin: 0 0 34px;

  @media (min-width: $medium) {
    margin: 0;
  }
}

.example__param-wrapper {
  @media (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  @media (min-width: $large) {
    margin-bottom: 75px;
  }
}

.example__price {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $medium) {
    font-size: 20px;
    text-align: end;
  }

  @media (min-width: $large) {
    span {
      margin-left: 63px;
    }
  }

  br {
    display: none;

    @media (min-width: $medium) {
      display: block;
    }

    @media (min-width: $large) {
      display: none;
    }
  }
}

.example__range-scale {
  font-family: $oswald;
}

.example__range {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $oswald;
}
