.example {
  background-image: linear-gradient($grey-350, $grey-350);
  background-repeat: no-repeat;
  padding-bottom: 11px;

  @media (min-width: $medium) {
    background-size: 100% 462px;
    background-position: bottom;
    padding-bottom: 70px;
  }

  @media (min-width: $large) {
    padding-bottom: 12px;
  }
}

.example__wrapper {
  @media (min-width: $large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__intro {
  margin: 0 0 20px;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 52px;
    padding-right: 8px;
  }

  @media (min-width: $large) {
    padding-right: 133px;
    margin: 0 0 64px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-family: $oswald;
  font-weight: 400;
  padding-top: 25px;
  margin: 0 0 40px;

  @media (min-width: $medium) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    margin: 0 0 63px;
  }

  @media (min-width: $large) {
    margin: 0 0 151px;
  }
}

.example__param {
  font-family: $oswald;
  margin: 0 0 34px;

  @media (min-width: $medium) {
    margin: 0;
  }
}

.example__param-wrapper {
  @media (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  @media (min-width: $large) {
    margin-bottom: 47px;
  }
}

.example__price {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 17px;

  @media (min-width: $medium) {
    font-size: 20px;
    text-align: end;
    margin: 11px 0 10px;

    span {
      display: block;
      margin-top: 10px;
    }
  }

  @media (min-width: $large) {
    margin: 4px 0 17px;

    span {
      display: inline;
      margin-left: 63px;
    }
  }

  br {
    display: none;

    @media (min-width: $medium) {
      display: block;
    }

    @media (min-width: $large) {
      display: none;
    }
  }
}

.example__slider {
  margin: 0 auto 30px;
  width: 280px;
  height: 256px;

  @media (min-width: $medium) {
    width: 560px;
    height: 512px;
  }
}
