.feachures__title {
  font-size: 36px;
  line-height: 40px;
  font-family: $oswald;
  font-weight: 400;
}

.feachures__description {
  color: $grey-600;
}

.feachures__list {
  display: grid;
  gap: 24px;
  margin-bottom: 49px;

  @media (min-width: $medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px 60px;
    margin-bottom: 47px;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 76px;
    margin-bottom: 69px;
  }
}

.feachures__item {
  @media (min-width: $medium) {
    grid-column: span 2;
  }
}
