.featchures__title {
  font-size: 36px;
  line-height: 40px;
  font-family: $oswald;
  font-weight: 400;
  margin: 0 0 40px 0;

  @media (min-width: $medium) {
    font-size: 60px;
    line-height: 60px;
    margin: 49px 0 32px 0;
  }

  @media (min-width: $large) {
    margin-top: 72px;
  }
}

.featchures__description {
  color: $grey-600;
  margin: 0;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 79px;
  }

  @media (min-width: $large) {
    margin-bottom: 57px;
    padding-right: 0;
  }
}

.featchures__list {
  display: grid;
  gap: 20px;
  padding-bottom: 48px;
  counter-reset: feachures__counter;

  @media (min-width: $medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 60px;
    padding-bottom: 41px;
    margin-bottom: 43px;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 76px;
    margin-bottom: 27px;
  }
}

.featchures__item {
  display: flex;
  counter-increment: feachures__counter;
  position: relative;
  z-index: 0;

  @media (min-width: $medium) {
    grid-column: span 2;
    display: block;
    min-height: 287px;
  }

  @media (min-width: $large) {
    min-height: 280px;
    grid-column: span 1;
  }
}

.featchures__item::before {
  content: "";
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $green-300;
  background-size: 31px;

  @media (min-width: $medium) {
    display: block;
    width: 80px;
    height: 80px;
    margin: 40px 0 32px;
  }
}

.featchures__item--leaf::before {
  background-image: url("../img/sprite.svg#leaf");
}

.featchures__item--water::before {
  background-image: url("../img/sprite.svg#water");
}

.featchures__item--food::before {
  background-image: url("../img/sprite.svg#food");
}

.featchures__item--time::before {
  background-image: url("../img/sprite.svg#time");
}

.featchures__item::after {
  font-family: $oswald;

  @media (min-width: $medium) {
    content: counter(feachures__counter);
    position: absolute;
    display: block;
    width: 112px;
    height: 280px;
    font-size: 280px;
    line-height: 280px;
    color: $grey-100;
    top: 0;
    right: 100px;
    z-index: -1;
    text-align: center;
  }

  @media (min-width: $large) {
    right: 22px;
  }
}
