.field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  z-index: 0;
}

.field__title {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 34px;

  @media (min-width: $medium) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 66px;
  }

  @media (min-width: $large) {
    margin: 0 0 77px;
  }
}

.field__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $grey-600;
  margin-right: 12px;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }
}

.field__input {
  padding: 11px 18px;
  border:none;
  outline: none;
  margin: 0;
  box-shadow: 0 0 0 1px $grey-340;
  display: block;
  font-family: $oswald;
  min-width: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input--icon {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  padding-right: 40px;
}

.field__input:hover {
  border-color: $grey-400;
}

.field__input:focus {
  box-shadow: 0 0 0 2px $grey-600;
  outline: none;
}

.field__input--error {
  box-shadow: 0 0 0 2px $pink-400;
}

.field__input--error + .field__icon {
  color: $pink-400;
}

.field--textarea {
  grid-template-columns: 1fr;

  @media (min-width: $medium) {
    margin-bottom: 68px;
  }
}

.field--textarea .field__input {
  min-height: 150px;

  @media (min-width: $medium) {
    min-height: 174px;
  }
}

.field__icon {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  justify-self: end;
  margin: 20px;
  z-index: -1;
}

.field__input:focus + .field__icon {
  color: $green-300;
}

// .field__input:focus+.field__icon {
//   stroke: $green-300;
// }

// .field__input:focus+.field__icon path {
//   stroke: $green-300;
// }
