.field {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: row;
  align-items: center;
  z-index: 0;
}

.field__title {
  font-size: 24px;
  line-height: 26px;
  margin: -8px 0 37px;

  @media (min-width: $medium) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 74px;
  }

  @media (min-width: $large) {
    margin: 0 0 77px;
  }
}

.field__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $grey-600;
  margin-right: 12px;
  max-width: 118px;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }
}

.field__input {
  padding: 11px 14px;
  border: 1px solid $grey-340;
  outline: none;
  margin: 0;
  display: block;
  font-family: $oswald;
  min-width: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input--icon {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  padding-right: 57px;
}

.field__input:hover {
  border-color: $grey-400;
}

.field__input:focus {
  border-color: $grey-600;
  outline: none;
}

.field__input--error {
  border-color: $pink-400;
}

.field__input--error + .field__icon {
  color: $pink-400;
}

.field--textarea {
  grid-template-columns: 100%;

  @media (min-width: $medium) {
    margin-bottom: 68px;
  }
}

.field--textarea .field__input {
  min-height: 150px;

  @media (min-width: $medium) {
    min-height: 174px;
  }
}

.field__icon {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  justify-self: end;
  margin: 13px;
  z-index: -1;

  @media (min-width: $medium) {
      margin: 17px;
    }
}

.field__input:focus + .field__icon {
  color: $green-300;
  stroke: $green-300;
}
