.form-group__title {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding: 17px 0 38px;
  float: left;

  @media (min-width: $medium) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 76px;
    grid-column: span 2;
  }
}

.form-group__area {
  margin: 0 0 15px;

  @media (min-width: $medium) {
    margin: 0 0 19px;
  }
}

.program-form__container .form-group__area:last-child {
  @media (min-width: $medium) {
    margin: 0;
  }
}

.form-group--small {
  padding-bottom: 4px;

  @media (min-width: $medium) {
    padding-bottom: 0;
    margin-bottom: 44px;
  }

  @media (min-width: $large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;
    margin-bottom: 47px;
  }
}
