.logo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (min-width: $medium) {
    min-width: 174px;
    grid-template-columns: auto 1fr;
  }
}

.logo__text {
  justify-self: center;

  // @media (min-width: $medium) {
  //   width: 103px;
  //   height: 23px;
  // }

  @media (min-width: $large) {
    width: 118px;
    height: 24px;
  }
}

.page-footer__logo .logo__text {
  @media (min-width: $medium) {
    width: 127px;
  }
}

.logo__image {
  display: block;

  @media (min-width: $medium) {
    width: 61px;
    height: 52px;
    margin-right: 12px;
  }

  @media (min-width: $large) {
    width: 70px;
    height: 60px;
  }
}

.logo:link:hover {
  opacity: 0.8;
}

.logo:link:active {
  opacity: 0.6;
}
