.logo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (min-width: $medium) {
    min-width: 174px;
    grid-template-columns: auto 1fr;
  }
}

.logo__text {
  justify-self: center;

  @media (min-width: $medium) {
      width: 103px;
      height: 23px;
    }

  @media (min-width: $large) {
      width: 118px;
      height: 24px;
    }
}

.logo__image {
  @media (min-width: $medium) {
    width: 61px;
    height: 52px;
  }

    @media (min-width: $large) {
      width: 70px;
      height: 60px;
    }
}
