 .nav-list {
   @media (min-width: 767px) {
     display: flex;
     flex-wrap: wrap;
   }
 }

 .nav-list__item {
   @media (max-width: 767px) {
     border-top: 1px solid $grey-330;
   }
 }

 .nav-list__link {
   color: $black;
   font-weight: 500;
   text-decoration: none;
   border: none;
   padding: 24px 50px;
   display: block;
   text-align: center;

   @media (min-width: $medium) {
     padding: 12px;
     font-weight: 400;
   }

   @media (min-width: $large) {
     color: $white;
   }
 }
