.nav-list {
  @media (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav-list__item {
  @media (max-width: ($medium - 1px)) {
    border-bottom: 1px solid $grey-330;
  }
}

.nav-list__item:first-child {
  @media (max-width: ($medium - 1px)) {
    border-top: 1px solid $grey-330;
  }
}

.nav-list__link {
  color: $black;
  font-weight: 500;
  text-decoration: none;
  border: none;
  padding: 24px 50px;
  display: block;
  text-align: center;

  @media (min-width: $medium) {
    padding: 12px 0;
    font-weight: 400;
    margin: 0 12px;
  }

  @media (min-width: $large) {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}

.nav-list__link--current {
  @media (min-width: $medium) {
    border-bottom: 2px solid $green-300;
  }
}

.nav-list__link:not(.nav-list__link--current):hover {
  @media (min-width: $medium) {
    opacity: 0.6;
  }
}

.nav-list__link:not(.nav-list__link--current):active {
  @media (min-width: $medium) {
    color: $grey-470;
  }
}

.page-header__nav--index .nav-list__link:active {
  border-color: $white;
}

.page-header__nav--index .nav-list__link {
  @media (min-width: $large) {
    color: $white;
  }
}

.page-header__nav--index .nav-list__link--current {
  @media (min-width: $large) {
    border-color: $white;
  }
}
