.pack {
  padding: 30px 33px 22px 20px;

  @media (min-width: $medium) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $large) {
    padding-right: 51px;
    padding-bottom: 60px;
  }
}

.pack__title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 29px 0;
  padding-left: 68px;

  @media (min-width: $medium) {
    margin: 0 0 24px 0;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $large) {
    margin: 0 0 73px 0;
    padding-left: 162px;
  }
}

.pack__description {
  color: $grey-600;
  padding: 0 0 23px;
  margin: 0 0 20px;
  border-bottom: 1px solid $grey-370;

  @media (min-width: $medium) {
    padding: 0;
    border: none;
    margin: 0 0 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $large) {
    margin: 0 0 24px;
  }
}

.pack__button {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 30px;
  }
}

.pack__button::after {
  content: "";
  margin-left: 15px;
  width: 32px;
  height: 12px;
  background-image: url("source/img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: -8px 50%;

  @media (min-width: $medium) {
    margin-left: 25px;
  }

  @media (min-width: $large) {
    margin-left: 28px;
  }
}

.pack__button:hover::after {
  background-position: 100%;
}

.pack__button:active {
  opacity: 0.3;
}
