.packs__item {
  background-color: $grey-100;
}

.packs__list {
  display: grid;
  gap: 20px;

  @media (min-width: $medium) {
    gap: 30px;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
