.packs {
  margin-bottom: 20px;
}

.packs__item {
  background-color: $grey-100;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $green-300;
    background-position: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 26px;
    left: 23px;

    @media (min-width: $medium) {
      width: 200px;
      height: 200px;
      right: 63px;
      top: 91px;
      left: auto;
    }

    @media (min-width: $large) {
      width: 100px;
      height: 100px;
      right: auto;
      top: 39px;
      left: auto;
    }
  }
}

.packs__item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.packs__item--slim::after {
  background-image: url("../img/sprite.svg#cat-slim");
  width: 70px;
  height: 51px;
  top: 22px;
  left: 12px;


  @media (min-width: $medium) {
    width: 254px;
    height: 192px;
    right: 24px;
    top: 83px;
    left: auto;
  }

  @media (min-width: $large) {
    width: 128px;
    height: 97px;
    right: auto;
    left: 44px;
    top: 34px;
  }
}

.packs__item--pro::after {
  background-image: url("../img/sprite.svg#cat-pro");
  width: 67px;
  height: 50px;
  left: 12px;
  top: 24px;


  @media (min-width: $medium) {
    width: 248px;
    height: 200px;
    left: auto;
    top: 113px;
    right: 43px;
  }

  @media (min-width: $large) {
    width: 134px;
    height: 100px;
    right: auto;
    top: 41px;
    left: 32px;
  }
}

.packs__list {
  display: grid;
  gap: 20px;

  @media (min-width: $medium) {
    gap: 30px;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
