.packs__item {
  background-color: $grey-100;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.packs__item--slim::before {
  width: 50px;
  height: 53px;

  background-image: url("../img/cat-back-sit.svg");

  @media (min-width: $medium) {
    width: 200px;
    height: 214px;
    right: 62px;
    top: 78px;
  }

  @media (min-width: $large) {
    width: 100px;
    height: 115px;
    right: auto;
  }
}

.packs__item--pro::before {
  width: 67px;
  height: 50px;
  left: 9px;
  top: 25px;
  background-image: url("../img/cat-back-walk.svg");


  @media (min-width: $medium) {
    width: 268px;
    height: 200px;
    left: auto;
    top: 94px;
    right: 29px;
  }

  @media (min-width: $large) {
    width: 134px;
    height: 100px;
    right: auto;
  }
}


.packs__list {
  display: grid;
  gap: 20px;

  @media (min-width: $medium) {
    gap: 30px;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
