.page-header {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-header__menu {
  padding: 10px 20px 17px;
  min-width: 280px;
  display: grid;
  grid-template-columns: auto 30%;

  @media (min-width: $medium) {
    padding: 0;
  }
}

.page-header__toggle {
  display: block;
  width: 32px;
  height: 32px;
  padding: 4px 4px;
  background-color: inherit;
  cursor: pointer;
  border: none;
  justify-self: end;
  align-self: end;
  position: relative;
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

// .page-header__toggle--closed {
//   &.page-header__toggle: before
// }

