.page-promo {
  color: $white;
  background-image:
    linear-gradient(to top, $white 176px, hsl(97 53% 47% / 85%) 176px),
    url("../img/index/background-cat.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(to top, $white 176px, hsl(97 53% 47% / 85%) 176px),
      url("../img/index/background-cat@2x.png");
  }

  @media (min-width: $medium) {
    background: none;
  }
}

.page-promo::after {
  @media (min-width: $large) {
    content: "";
    position: absolute;
    background-image:
      linear-gradient(to right, $white -1px, hsl(97 53% 47% / 85%) -1px),
      url("../img/index/background-cat-big.png");
    background-repeat: no-repeat;
    width: 50%;
    z-index: -2;
    top: -10px;
    left: 50%;
    bottom: 0;
    height: 704px;
    background-color: $grey-650;
  }

  @media (min-width: 2000px) {
    background-size: 100%;
  }

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(to right, $white -1px, hsl(97 53% 47% / 85%) -1px),
      url("../img/index/background-cat-big@2x.png");
    background-size: cover;
  }
}

.page-promo__container {
  background-image: url("../img/index/promo-small.png");
  background-position: center bottom 43px;
  background-size: 280px 270px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/promo-small@2x.png");
  }

  @media (min-width: $medium) {
    padding: 64px 90px 505px 118px;
    background-image: url("../img/index/promo-large.png");
    background-size: 709px 609px;
    background-position: center top 264px;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/promo-large@2x.png");
    }
  }

  @media (min-width: $large) {
    padding: 110px 80px 186px;
    margin-bottom: 82px;
    background-image: url("../img/index/promo-medium.png");
    background-position: top 29px left 448px;
    background-size: 552px 499px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/promo-medium@2x.png");
    }
  }
}

.page-promo__intro {
  font-family: $oswald;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 302px 0;
  padding: 0 60px;

  @media (min-width: $medium) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    padding: 0;
    margin: 0 0 49px 0;
  }

  @media (min-width: $large) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 51px 0;
  }
}

.page-promo__title {
  text-align: center;
  padding: 27px 35px 0;
  margin: 0 0 25px 0;

  @media (min-width: $medium) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: start;
    padding: 0;
    margin: 0 0 41px 0;
  }
}

.page-promo__button {
  @media (max-width: ($medium - 1px)) {
    width: 280px;
    margin: 0 auto;
  }
}
