.page {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  background-color: $white;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  font-family: $oswald;
}
