.present-block {
  padding: 186px 61px 43px 58px;
  text-align: center;
  background-image: url("../img/sprite.svg#present"), url("../img/index/present-block.png");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-color: $green-300;
  background-position: top 58px center, center;

  @media (min-width: $medium) {
    padding: 71px 124px 69px 422px;
    text-align: start;
    background-size: 91px 82px, cover;
    background-position: left 72px center, center bottom -235px;
  }

  @media (min-width: $large) {
    text-align: center;
    background-size: auto, cover;
    padding: 186px 36px 24px;
    background-position: top 58px center, center;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sprite.svg#present"), url("../img/index/present-block@2x.png");
  }
}

.present-block__description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}
