.program-form__disclaimer {
  font-family: $arial;
  line-height: 16px;
  text-align: center;
  margin: 21px 0 32px;

  @media (min-width: $medium) {
    font-size: 16px;
    margin: 0;
    align-self: center;
    justify-self: left;
  }
}

.program-form__container {
  @media (min-width: $large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.program-form__group {
  margin: 0;
  border: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $medium) {
    margin-bottom: 55px;
    padding: 0;
  }

  @media (min-width: $large) {
    margin-bottom: 39px;
  }
}

.program-form__group--line {
  position: relative;
}

.program-form__title-wrapper {
  display: inline-block;
  background-color: $white;
  padding-right: 22px;
  padding-left: 20px;
  margin-left: -20px;
  width: max-content;

  @media (min-width: $medium) {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: -40;
    margin-left: -40px;

    br {
      display: none;
    }
  }
}

.program-form__group--line::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: $green-300;
  width: 100vw;
  top: 0;
  left: calc(50% - 50vw);
}

.form-group.program-form__group--line::before {
  top: 42px;
}

.field.program-form__group--line::before {
  top: 26px;
}

.form-checkbox.program-form__group--line::before {
  top: 27px;
}

.program-form__button {
  width: 100%;
  min-height: 40px;

  @media (min-width: $medium) {
    min-height: 52px;
  }
}

.program-form__bottom-container {
  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-top: -38px;
  }

  @media (min-width: $large) {
    margin-top: -11px;
    column-gap: 80px;
  }
}
