.show-more {
  padding: 25px 20px;
  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center top 25px;

  @media (min-width: $medium) {
    padding: 44px 36px 38px;
    border: 2px solid $grey-100;
    background-size: 60px 60px;
    background-position: center top 51px;
  }

  @media (min-width: $medium) {
    padding: 52px 43px 38px;
    background-position: center top 61px;
  }
}

.show-more__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $grey-800;
  text-transform: uppercase;
  text-align: center;
  padding: 53px 0 0;
  margin: 0 0 8px;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 22px;
    padding: 117px 0 0;
    margin: 0 0 23px;
  }
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  color: $grey-600;
  text-align: center;
  margin: 0 0 23px;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 62px;
  }
}
