.show-more {
  padding: 25px 20px;
  background-image: url("../img/sprite.svg#plus");
  background-repeat: no-repeat;
  background-position: center top 25px;
  background-size: 30px 30px;

  @media (min-width: $medium) {
    padding: 44px 36px 38px;
    border: 2px solid $grey-100;
    background-size: 60px 60px;
    background-position: center top 54px;
  }

  @media (min-width: $large) {
    padding: 52px 34px 38px;
  }
}

.show-more__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $grey-800;
  text-transform: uppercase;
  text-align: center;
  padding: 53px 0 0;
  margin: 0 0 8px;

  @media (min-width: $medium) {
    font-size: 20px;
    line-height: 22px;
    padding: 119px 36px 0;
    margin: 0 0 23px;
  }

  @media (min-width: $large) {
    padding: 110px 0 0;
  }
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  color: $grey-600;
  text-align: center;
  margin: 0 0 23px;

  @media (min-width: $medium) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 85px;
    padding: 0 20px;
  }

  @media (min-width: $large) {
    padding: 0;
  }
}
