.slider {
  position: relative;
  display: flex;
}

.slider__bar {
  position: absolute;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  left: 50%;
  background-color: $grey-500;
  margin-left: -2px;
  cursor: pointer;
}

.slider__bar:hover {
  background-color: $green-300;
}

.slider__bar:active {
  background-color: $green-400;
  opacity: 0.6;
}

.slider__bar-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  cursor: pointer;
}

.slider__bar-toggle:hover path {
  fill: $green-300;
}

.slider__bar-toggle:hover rect {
  stroke: $green-300;
}

.slider__bar-toggle:active path {
  fill: $green-300;
}

.slider__bar-toggle:active rect {
  stroke: $green-300;
}

.slider__image-wrapper-before {
  width: 50%;
}

.slider__image-wrapper-after {
  width: 0;
  flex-grow: 1;
}

.slider__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slider__image--before {
  object-position: left;
}

.slider__image--after {
  object-position: right;
}
