.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px 0;

  @media (max-width: ($medium - 1px)) {
    border-bottom: 1px solid $grey-330;
  }
}

.social__item {
  margin: 2px;
 }
.social__link {
  color: $grey-500;
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
}

.social__link:hover {
  color: $green-300;
}

.social__link:active {
  opacity: 0.3;
}
