.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    padding: 20px 0;
    border-bottom: 1px solid $grey-330;
  }
}

.social__link {
  padding: 23px 13px;
  display: block;
}
