.catalog-adds__title {
  font-size: 24px;
  line-height: 24px;
}

.catalog-adds__present-block {
  background-image: url("../../img/present-block.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: $green-300;
}
