.show-more__title {
  font-size: 16px;
  line-height: 20px;
  color: $grey-800;
  text-transform: uppercase;
}

.show-more__description {
  font-size: 12px;
  line-height: 16px;
  color: $grey-600;
}
