.button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: $green-300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  margin: 0;
  outline: none;
  cursor: pointer;
}
