.contacts__intro {
  font-size: 16px;
  line-height: 20px;
  color: $grey-800;
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $grey-600;
}
