.page-promo {
  color: #ffffff;
}

.page-promo__intro {
  line-height: 14px;
  text-transform: uppercase;
}

.page-promo__background {
  background-image: url("../img/greencat.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: $green-300;
}
